#container {
   margin-top: 50px;
   margin-left: 100px;
   margin-right: 100px;
}

h1 {
   background-color: #6b32a8;
   border-style: solid;
   border-width: 1px;
   color: #D6A800;
   padding: 10px;
}

h2 {
   background-color: #6b32a8;
   border-style: solid;
   border-width: 1px;
   color: #D6A800;
   padding: 10px;
}

h3 {
   background-color: #6b32a8;
   border-style: solid;
   border-width: 1px;
   color: #D6A800;
   padding: 10px;
}

h4 {
   background-color: #6b32a8;
   border-style: solid;
   border-width: 1px;
   color: #D6A800;
   padding: 10px;
}


a:link {
    color: #6b32a8;
    text-decoration: none;
}

a:visited {
    color: #a8329b;

}

a:hover {
    color: #969696;

}
