header {
background-color: grey;
color: white;
padding: 20px;
text-align: center;
}

h1 {
font-weight: 400;
}

#navbar {
overflow: hidden;
background-color: black;
border-bottom: 15px solid black;
}

#navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

#navbar a:hover {
background-color: red;
color: orange;
}

#movie div {
margin: 2% 5% 100px 5%;
padding: 10px;
}


#container div {
margin: 2% 5% 100px 5%;
padding: 10px;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 50%;
}

.card-title {
text-align: center;
font-size: 2em;
color: orange;
font-weight: 400;

}

.card-content {
padding: 2px 16px;

}

footer {
position: fixed;
bottom: 0;
left: 0;
background-color: grey;
width: 100%;
}

footer p {
color: white;
font-weight: 400;
float: right;
padding-right: 10px;
font-style: italic;
}

footer copy-right {
color: white;
font-weight: 400;
float: left;
padding-right: 10px;
font-style: italic;
}

footer a {
text-decoration: none;
color: white;

}

footer a:hover {
text-decoration: underline;
}


#movies {
border-collapse: collapse;
width: 100%;
margin-bottom: 30px;
}

#movies th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
}

#movies td {
border: 1px solid #ddd;
padding: 8px;
}