html {
font-size: 16px;
}

body {
font-size: 16px;
}

p {
font-weight: 400;
line-height: 1.4em;
}

h1 {
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

h2 {
font-weight: 500;
text-align: left;
padding-top: 15px;

}

address {
text-align: center;
}


.intro{
text-indent: 2em;
}

.sentence {
font-style: italic;
}



a:link {
color: #4F3674;
font-size: 1.25em;
text-decoration: none;
}

a:visited {
color: #D62E00;
}

a:hover {
color: #D6A800;
text-decoration: underline;
}



