.center {
 text-align: center;
}


.Ldiv {
width: 45%;
display: inline-block;
border: 1px solid red;
border-radius: 15px;
margin-right: 25px;

}

.Rdiv {
width: 45%;
display: inline-block;
border: 1px dashed red;
border-radius: 15px;
margin-left: 25px;


}


.div2 {
 width: 100%;
 margin-top: 60%;
}

.div3 {
float: right;
margin-bottom: 20px;
}

h3 {
font-weight: 700;
}

ol {
font-weight: 300;
list-style-position: inside;
padding: 10px;
line-height: 1.5;
}

ul {
font-weight: 300;
list-style-type: upper-roman;
list-style-position: inside;
padding: 10px;
line-height: 1.5;
}

a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}